.button {
  width: 110px;
  height: 35px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  outline: none;

  &.primary {
    background-color: blue;
    color: white;
  }

  &.danger {
    background-color: red;
    color: white;
  }
}

.m {
  &-r {
    &-10 {
      margin-right: 10px;
    }
  }

  &-b {
    &-10 {
      margin-bottom: 10px;
    }
  }
}